*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

header{
    width: 100%;
    height: 60px;
    background: black;
}

.container-header{
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: auto;
}

.logo-title{
    display: flex;
}

.logo-title img{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
}

.logo-title h4{
    color: white;
    font-weight: 100;
    margin-left: 10px;
    margin-top: 20px;
}

.icon-menu{
    position: absolute;
    right: 10px;
    top: 14px;
    color: white;
    font-size: 28px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

.icon-menu:hover{
    background: rgba(255, 255, 255, 0.4);
}



/*Portada*/



.container-portada{
    width: 100%;
    height: 400px;
    position: relative;
    background-image: url(../image/portada.jpg);
    background-size: 200%;
    animation: movimiento 20s infinite linear alternate;  
}

@keyframes movimiento{
    from{
        background-position: bottom left;
    }to{
        background-position: top right;
    }
}


.capa-gradient{
    width: 100%;
    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(left, black, #0672d0);
    opacity: 0.5;
}

.container-details{
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: auto;
}


.details{
    width: 100%;
    max-width: 500px;
    position: relative;
    top: 20px;
    color: white;
}

.details h1{
    font-size: 40px;
    font-weight: 100;
    margin-left: 10px;
}

.details p{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 100;
    margin-left: 10px;
}

.details button{
    padding: 10px 20px;
    font-size: 16px;
    background: none;
    border-style: none;
    border: 1px solid white;
    color: white;
    margin-top: 20px;
    transition: background 300ms;
    cursor: pointer;
    margin-left: 10px;
}

.details button:hover{
    background: white;
    color: black;
}


/*Articulo*/

main{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

article{
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    padding-right: 20px;
}

article h1{
    font-size: 40px;
    font-weight: 100;
    margin-left: 10px;
}

article hr{
    max-width: 500px;
    height: 4px;
    border-style: none;
    background: -webkit-linear-gradient(left, black, #0672d0);
    margin-top: 10px;
    margin-left: 10px;
}

article p{
    font-size: 20px;
    margin-top: 20px;
    font-weight: 100;
    margin-left: 10px;
}



@media screen and (max-width: 500px){
    .details p{
        font-size: 18px;
    }
}




















